# Вебинар 4. Домашнее задание

# Домашнее задание

1. Перенесите метрики в модуль metrics.py (убедится что они там)
2. Перенесите функцию prefilter_items в модуль utils.py
3. Создайте модуль recommenders.py. Напищите код для класса ниже 
(задание обсуждали на вебинаре, для первой функции практически сделали) и положите его в recommenders.py
4. Проверьте, что все модули корректно импортируются

In [96]:
import os, sys

module_path = os.path.abspath(os.path.join('./src'))
if module_path not in sys.path:
    sys.path.append(module_path)

import pandas as pd

from recommenders import MainRecommender
data = pd.read_csv('../data/transaction_data.csv')
item_features = pd.read_csv('../data/product.csv')

mr = MainRecommender(data, item_features)

C:\Users\kote\Downloads\my_recsys\webinar_4\src\utils.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['price'] = data['sales_value'] / (np.maximum(data['quantity'], 1))

HBox(children=(IntProgress(value=0, max=15), HTML(value='')))

HBox(children=(IntProgress(value=0, max=5001), HTML(value='')))

In [97]:
users = data.user_id.unique()
users[5]

1172

In [100]:
v_items = mr.get_similar_items_recommendation(users[6])
item_features.loc[item_features['item_id'].isin(v_items) ]

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
12729,879504,972,GROCERY,National,BAG SNACKS,POTATO CHIPS,12 OZ
13228,883932,586,GROCERY,National,CRACKERS/MISC BKD FD,SOUP CRACKERS (SALTINE/OYSTER),16 OZ
22558,965766,317,GROCERY,National,CHEESE,IWS SINGLE CHEESE,12 OZ
24874,987044,516,GROCERY,National,MARGARINES,MARGARINE: TUBS AND BOWLS,24 OZ
37655,1100972,586,GROCERY,National,CRACKERS/MISC BKD FD,BUTTER SPRAY CRACKER (RITZ/CLU,16 OZ

In [103]:
v_items_2 = mr.get_similar_users_recommendation(users[7])
print(v_items_2)
item_features.loc[item_features['item_id'].isin(v_items_2) ]

[917033, 883940, 1042942, 999999, 1044078]

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
13229,883940,69,GROCERY,Private,CHEESE,NATURAL CHEESE EXACT WT CHUNKS,12 OZ
16965,917033,103,GROCERY,National,SOFT DRINKS,SOFT DRINKS 12/18&15PK CAN CAR,12 OZ
31169,1042942,69,GROCERY,Private,ICE CREAM/MILK/SHERBTS,PAILS,4 QT
31296,1044078,2845,MEAT,National,BEEF,LEAN,